<div class="page-header">
	<h1>Sandbox</h1>
</div>
<p class="lead">
A browsable component library for Behavior-UI development.
</p>
<h2>Dig In</h2>
<p>
	Components shown here are created with <code>less</code> files, <code>JavaScript</code> files,
	and <code>ruby html</code> files. Be sure to dig into these additional resources:
</p>

<ul>
	<li><a href="http://mootools.net/docs">MooTools Documentation</a></li>
	<li><a href="http://dev.clientcide.com">Clientcide Documentation</a> (in particular the docs on <code>Behavior</code> and <code>Delegator</code>)</li>
	<li><a href="https://github.com/anutron/behavior/blob/master/README.md">Behavior's overview</a></li>
	<li><a href="http://getbootstrap.com">Bootstrap</a></li>
	<li><a href="http://designmodo.github.io/Flat-UI/">Flat-UI</a></li>
</ul>
